.root {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 3.25rem;
  padding: 2px;
  border: none;
  border-radius: var(--uk-sys-shape-corner-full);
  background-color: rgb(var(--uk-sys-color-outline));
  flex-shrink: 0;
  flex-grow: 0;

  outline-style: solid;
  outline-offset: 2px;
  outline-width: 0;
  outline-color: transparent;

  transition: outline-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-decelerate),
  outline-width 0ms linear,
  background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);

  &:focus-visible {
    background-color: rgb(var(--uk-sys-color-primary));

    outline-width: var(--uk-sys-state-focus-indicator-thickness);
    outline-offset: var(--uk-sys-state-focus-indicator-outer-offset);
    outline-color: rgb(var(--uk-sys-color-secondary));
  }

  // track
  &::before {
    content: "";
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: calc(100% - 0.25rem);
    height: calc(100% - 0.25rem);
    transition: background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);

    border-radius: var(--uk-sys-shape-corner-full);
    background-color: rgb(var(--uk-sys-color-surface-container-highest));
  }

  // state layer
  &::after {
    content: "";
    position: absolute;
  }

  .handle {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-decelerate),
    width var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-decelerate),
    height var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-decelerate),
    background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal),
    color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);

    display: flex;
    align-items: center;
    justify-content: center;

    --icon-size: 1rem;
    --size: 1rem;
    --offset-full: calc(100% - 1.5rem);
    --offset-none: 0.5rem;

    width: var(--size);
    height: var(--size);

    border-radius: var(--uk-sys-shape-corner-full);

    background-color: rgb(var(--uk-sys-color-outline));
    color: rgb(var(--uk-sys-color-outline));

    &:has(> *) {
      --size: 1.25rem;
      --offset-full: calc(100% - 1.625rem);
      --offset-none: 0.375rem;
    }

    left: var(--offset-none);
  }

  &:hover {
    .handle {
      width: calc(var(--size) + 0.125rem);
      height: calc(var(--size) + 0.125rem);
      --offset-full: calc(calc(100% - 1.5rem) - 0.0625rem);
      --offset-none: calc(0.5rem - 0.0625rem);
    }
  }

  &:active {
    .handle {
      width: calc(var(--size) + 0.5rem);
      height: calc(var(--size) + 0.5rem);
      --offset-full: calc(calc(100% - 1.5rem) - 0.25rem);
      --offset-none: calc(0.5rem - 0.25rem);
    }
  }

  &[data-value="true"] {
    background-color: rgb(var(--uk-sys-color-primary));

    &::before {
      background-color: rgb(var(--uk-sys-color-primary));
    }

    .handle {
      left: var(--offset-full);
      color: rgb(var(--uk-sys-color-on-primary-container));
      background-color: rgb(var(--uk-sys-color-on-primary));
    }
  }

  &:disabled {
    background-color: rgb(var(--uk-sys-color-outline));

    &::before {
      background-color: rgb(var(--uk-sys-color-outline));
    }

    .handle {
      color: rgb(var(--uk-sys-color-surface-container-highest), 0.38);
      background-color: rgb(var(--uk-sys-color-outline), 0.38);
    }
  }

  &[data-value="true"]:disabled {
    background-color: rgb(var(--uk-sys-color-outline));

    &::before {
      background-color: rgb(var(--uk-sys-color-outline));
    }

    .handle {
      color: rgb(var(--uk-sys-color-on-surface), 0.38);
      background-color: rgb(var(--uk-sys-color-surface), 0.38);
    }
  }
}
