.root {
  --icon-size: 1rem;
  --handle-size: 1.25rem;
  --handle-padding: 0.5rem;
  --handle-padding-hover: calc(var(--handle-padding) - 0.1125rem);
  --handle-padding-active: calc(var(--handle-padding-hover) - 0.1125rem);
  --track-padding: 0.125rem;

  position: relative;
  display: flex;
  flex-direction: row;
  height: calc(var(--handle-size) + calc(var(--handle-padding) * 2));
  width: calc(calc(var(--handle-size) * 2) + calc(var(--handle-padding) * 2));
  padding: 2px;
  border: none;
  border-radius: var(--uk-sys-shape-corner-full);
  background-color: rgb(var(--uk-sys-color-outline));
  flex-shrink: 0;
  flex-grow: 0;

  outline-style: solid;
  outline-offset: 2px;
  outline-width: 0;
  outline-color: transparent;

  transition: outline-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-decelerate),
  outline-width 0ms linear,
  background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);

  &:focus-visible {
    background-color: rgb(var(--uk-sys-color-primary));

    outline-width: var(--uk-sys-state-focus-indicator-thickness);
    outline-offset: var(--uk-sys-state-focus-indicator-outer-offset);
    outline-color: rgb(var(--uk-sys-color-secondary));
  }

  // track
  &::before {
    content: "";
    position: absolute;
    top: var(--track-padding);
    left: var(--track-padding);
    width: calc(100% - calc(var(--track-padding) * 2));
    height: calc(100% - calc(var(--track-padding) * 2));
    transition: background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);

    border-radius: var(--uk-sys-shape-corner-full);
    background-color: rgb(var(--uk-sys-color-surface-container-highest));
  }

  //// state layer
  //&::after {
  //  content: "";
  //  position: absolute;
  //}

  .handle {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-decelerate),
    width var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-decelerate),
    height var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-decelerate),
    background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal),
    color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);

    display: flex;
    align-items: center;
    justify-content: center;

    --offset-full: calc(100% - calc(var(--handle-size) + var(--handle-padding)));
    --offset-none: var(--handle-padding);

    width: var(--handle-size);
    height: var(--handle-size);

    border-radius: var(--uk-sys-shape-corner-full);

    background-color: rgb(var(--uk-sys-color-outline));
    color: rgb(var(--uk-sys-color-outline));

    left: var(--offset-none);
  }

  &:hover {
    .handle {
      --re-handle-size: calc(var(--handle-size) + calc(calc(var(--handle-padding) - var(--handle-padding-hover)) * 2));
      width: var(--re-handle-size);
      height: var(--re-handle-size);
      --offset-full: calc(100% - calc(var(--re-handle-size) + var(--handle-padding-hover)));
      --offset-none: var(--handle-padding-hover);
    }
  }

  &:active {
    .handle {
      --re-handle-size: calc(var(--handle-size) + calc(calc(var(--handle-padding) - var(--handle-padding-active)) * 2));
      width: var(--re-handle-size);
      height: var(--re-handle-size);
      --offset-full: calc(100% - calc(var(--re-handle-size) + var(--handle-padding-active)));
      --offset-none: var(--handle-padding-active);
    }
  }

  &[data-value="true"] {
    background-color: rgb(var(--uk-sys-color-primary));

    &::before {
      background-color: rgb(var(--uk-sys-color-primary));
    }

    .handle {
      left: var(--offset-full);
      color: rgb(var(--uk-sys-color-on-primary-container));
      background-color: rgb(var(--uk-sys-color-on-primary));
    }
  }

  &:disabled {
    background-color: rgb(var(--uk-sys-color-outline));

    &::before {
      background-color: rgb(var(--uk-sys-color-outline));
    }

    .handle {
      color: rgb(var(--uk-sys-color-surface-container-highest), 0.38);
      background-color: rgb(var(--uk-sys-color-outline), 0.38);
    }
  }

  &[data-value="true"]:disabled {
    background-color: rgb(var(--uk-sys-color-outline));

    &::before {
      background-color: rgb(var(--uk-sys-color-outline));
    }

    .handle {
      color: rgb(var(--uk-sys-color-on-surface), 0.38);
      background-color: rgb(var(--uk-sys-color-surface), 0.38);
    }
  }
}
