.root {
  --card-padding: 16px;
  padding: var(--card-padding);
  border: none;
  position: relative;

  &[data-clickable="true"] {
    cursor: pointer;
    overflow: hidden;
    transition:
      outline-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-decelerate),
      outline-width 0ms linear;

    outline-style: solid;
    outline-offset: 2px;
    outline-width: 0;
    outline-color: transparent;

    &:focus-visible {
      outline-width: var(--uk-sys-state-focus-indicator-thickness);
      outline-offset: var(--uk-sys-state-focus-indicator-outer-offset);
      outline-color: rgb(var(--uk-sys-color-secondary));
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      transition: background-color var(--uk-sys-motion-duration-100) var(--uk-sys-motion-easing-standard-normal);
    }

    &:hover {
      &::before {
        background-color: rgb(var(--uk-sys-color-on-surface), var(--uk-sys-state-hover-state-layer-opacity));
      }
    }

    &:active {
      &::before {
        background-color: rgb(var(--uk-sys-color-on-surface), var(--uk-sys-state-pressed-state-layer-opacity));
      }
    }
  }

  &[data-color="filled"] {
    background-color: rgb(var(--uk-sys-color-surface-container-highest));
    color: rgb(var(--uk-sys-color-on-surface));
    box-shadow: 0 0 1px rgb(var(--uk-sys-color-shadow));
    border-radius: var(--uk-sys-shape-corner-medium);

    &[data-disabled="true"] {
      background-color: rgb(var(--uk-sys-color-surface-variant), 0.38);
    }
  }

  &[data-color="elevated"] {
    background-color: rgb(var(--uk-sys-color-surface-container-low));
    color: rgb(var(--uk-sys-color-on-surface));
    box-shadow: 0 0 1px rgb(var(--uk-sys-color-shadow));
    border-radius: var(--uk-sys-shape-corner-medium);
    z-index: 1;
  }

  &[data-color="outlined"] {
    background-color: rgb(var(--uk-sys-color-surface));
    color: rgb(var(--uk-sys-color-on-surface));
    box-shadow: 0 0 1px rgb(var(--uk-sys-color-shadow));
    border-radius: var(--uk-sys-shape-corner-medium);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--uk-sys-color-outline-variant));
  }
}
