.root {
  user-select: none;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  height: var(--icon-size, 24px);
  width: var(--icon-size, 24px);
  flex-shrink: 0;
  flex-grow: 0;

  background-color: currentColor;

  &[data-clickable="true"] {
    cursor: pointer;
  }
}
