// track
.root {
  --track-height: var(--thickness, 0.25rem);
  --indicator-background: rgb(var(--linear-indicator-background, var(--uk-sys-color-primary)));
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-width: 10rem;
  border-radius: 100rem;
  height: var(--track-height);
}

.activeIndicator {
  border-radius: 100rem;
  background-color: var(--indicator-background);
  transition: width var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-standard-decelerate);
}

.remainingIndicator {
  border-radius: 100rem;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: rgb(var(--uk-sys-color-secondary-container));
  position: relative;
  transition: width var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-standard-decelerate);
}

.stopIndicator {
  position: absolute;
  right: calc(calc(var(--thickness, 0.25rem) - 0.25rem) / 2);
  top: 50%;
  transform: translateY(-50%);
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 100rem;
  background-color: rgb(var(--uk-sys-color-primary), 0.5);
}
