.root {
  background-color: rgb(var(--uk-sys-color-background));
  color: rgb(var(--uk-sys-color-on-background));
  transition: background-color var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-standard-normal);
  font-family: monospace;
  font-size: 2rem;
  max-height: 100svh;
  padding-bottom: env(safe-area-inset-bottom);
  height: 100%;
  width: 100%;

  &::selection {
    background-color: rgb(var(--uk-sys-color-primary));
    color: rgb(var(--uk-sys-color-on-primary));
  }
}
