.root {
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: max-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  user-select: none;
  cursor: pointer;

  &[data-type="assist"] {
    cursor: unset;

    border-radius: var(--uk-sys-shape-corner-small);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--uk-sys-color-outline-variant));
    background-color: rgb(var(--uk-sys-color-surface-container-low));
    color: rgb(var(--uk-sys-color-on-surface-container-low));
  }

  &[data-type="filter_removable"],
  &[data-type="filter_dropdown"],
  &[data-type="filter_deselectable"] {
    border-radius: var(--uk-sys-shape-corner-small);
    height: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--uk-sys-color-outline-variant));
    color: rgb(var(--uk-sys-color-on-surface-container-low));
    background-color: rgb(var(--uk-sys-color-surface-container-low));

    &[data-selected="true"] {
      border-color: rgb(var(--uk-sys-color-secondary-container));
      border-width: 0px;
      color: rgb(var(--uk-sys-color-on-secondary-container));
      background-color: rgb(var(--uk-sys-color-secondary-container));
    }
  }

  &:has(> .leadingIcon),
  &:has(> .leadingImage),
  &:has(> .leadingAvatar) {
    padding-left: 0.5rem;
  }

  &:has(> .trailingIcon) {
    padding-right: 0.5rem;
  }
}

.leadingIcon {
  --icon-size: 18px;
}

.leadingImage {
  // do nothing
  height: 18px;
  width: 18px;
  display: block;
  margin: 0;
}

.leadingAvatar {
  --size: 18px !important;

  > img {
    --size: 18px;
  }
}

.label {
  justify-self: center;
  align-self: center;
}

.trailingIcon {
  --icon-size: 18px;
  transition: var(--uk-sys-motion-duration-200) var(--uk-sys-motion-easing-standard-normal);
  transform-origin: center center;
}

.dropdownOpen {
  transform: rotate(180deg);
}
