.root {
    margin-right: auto;
    margin-top: 2.75rem;
    margin-left: 0.75rem;

    *[data-navigation-rail-mobile-mode="true"] > div > & {
        margin-right: unset;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: unset;
    }
}

.icon {
    transform: rotate(180deg);
    transition: transform var(--uk-sys-motion-duration-250) var(--uk-sys-motion-easing-emphasized-decelerate);
}

.expanded {
    transform: rotate(0deg);
}
